*{

    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header {
    margin: 44px 0 144px 76px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

.button-header {
    background: #665AE1;
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #FFFFFF;
    box-shadow: 0px 6px 6px 0px black;
    cursor: pointer;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

.button-main{
        width: 239px;
        height: 64px;
        border-radius: 30px;
        background: #ADFF00;
        border: none;
        cursor: pointer;
        box-shadow: 0px 6px 6px 0px black;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.13px;
        color: #000000;
}

h1{
        
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
}

h2{
      
    font-size: 58px;
    font-weight: 500;
    line-height: 70.7px;
    color: #515151;
}

p{

    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 35px;
    color: #848484
}

@media screen and (max-width: 800px) {
    header{
        display: none;
    }

    p{
        display: none;
    }

    .button-main{
       width: 239px;
        height: 64px;
        border-radius: 30px;
        margin-top: 40px;

    }


    .logo-image{
        width: 354px;
        height: 317px;
        margin: 149px auto;
        display: block;
      
    }

    h1{
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        text-align: left;
        width: 263px;
        height: 52px;
    }

    h2{
        font-size: 30px;
        font-weight: 500;
        line-height: 36.57px;
        text-align: left;
        width: 232px;
        height: 37px;
        margin-top: 17px;
        margin-bottom: 17px;

    }

    section {
        display: inline-block;
        margin-left: 86px;
        margin-top: -100px;
    }
  
    @media screen and (max-width:400px) {
    .button-main{
        width: 184px;
        height: 40px;
        border-radius: 30px;
        top: 5px;
        margin: 3px;
        display: block;
    }
    
    .caixa-2{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
      .logo-image{
        width: 354px;
        height: 317px;
        margin: 214px auto;
        display: block;
        padding: 5%;
    }
         
    h1{
        margin: -7%;
    }
    h2{
        margin: -7%;
        margin-top: 30px;
    }

    .button-main{
        width: 200px;
        height: 50px;
        border-radius: 30px;
        margin-top: 10px;
        display: block;
        margin-right: 100px;
        margin-top: 64px;
    }
      
}



  